@import 'tailwindcss';

.container {
  :global {
    .ant-pro-checkcard-header-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .ant-pro-checkcard-subTitle {
        text-align: start;
      }
      .ant-avatar {
        width: 40px !important;
        height: 40px !important;
        border-radius: 5px;
      }
    }
  }
}
